* {
    box-sizing: border-box;
    margin : 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.logo {
    background-image: url('logo.png');
    background-repeat: no-repeat;
}

#background {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    transition: 1s all;
    z-index: 1;
}

.start {
    width: 100%;
    height: 100%;
    background-size: 16% 20%;
    background-position: 40% 40%;
    transition: 1s all;
    z-index : 2;
    position: absolute;
}

.end {
    background-size: 4% 5%;
    background-position: 10% 4%;
}

.head {
    height: 15%;
}

.slogan {
    font-size: 2.5rem;
    color: #FE9A2E;
    padding: 2% 0 1% 40%;
    transition: 2s all;
    opacity: 0;
}

.slogan.show{
    opacity: 1;
    padding-left: 60%;
}

.loading{
    width: 96vw;
    margin: 20px auto;
    transition: 1s all;
}

.loading .grid{
    transition: 1s all;
}

.welcome{
    font-size: 5rem;
    width: 96vw;
    margin: 0 auto;
    color: #FE9A2E;
    opacity: 0;
    transition: 1s all;
    text-align: center;
    padding: 7%;
}

.welcome.show{
    opacity: 1;
}